<mat-card class="margin10">
  <mat-card-title>Payment</mat-card-title>
  <mat-card-content>
    <div fxLayout="row">
      <mat-radio-group [(ngModel)]="paymentService.paymentMethod" fxLayout="column" fxFlex="20" [disabled]="disableInputs">
        <mat-radio-button *ngFor="let method of paymentMethods" [value]="method">{{method}}</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="paymentService.paymentMethod && paymentService.paymentMethod === 'Credit Card'" fxLayout="column"
        fxFlex>
        <app-credit-card [populateButton]="populateButton" [disableInputs]="disableInputs"></app-credit-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
